<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{app.change-password.title}"></title>
</head>
<body>
<form method="post" th:action="@{/public/change-password}">
    <br/>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <span th:text="#{app.change-password.old-password.field}"></span>&nbsp;
    <input name="oldPassword" type="password"/>
    <br/>
    <span th:text="#{app.change-password.new-password.field}"></span>&nbsp;
    <input name="newPassword" type="password"/>
    <br/>
    <span th:text="#{app.change-password.re-type-password.field}"></span>&nbsp;
    <input type="password"/>
    <br/>
    <div th:if="${errors != null && errors.size() > 0}">
        <p th:each="err: ${errors}" th:text="#{${err.messageKey}(${err.value})}"></p>
    </div>
    <br/>
    <button type="submit" th:text="#{app.change-password.title}"></button>
</form>
</body>
</html>